body {
  background-color: #282c34;
  font-family:'Libre Franklin', sans-serif;
  color:white;
}

.App {
  font-family: 'Libre Franklin', sans-serif;
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  
}

.ra {
  float:right;
  
}
.hex {
  width: 160px;
}
.skills {
  width: 100px;
  stroke: white;
}
.experience {
  width: 80px;
  stroke: white;
}
.skillsInCard {
  width: 25px;
  stroke: white;
  margin-right: 5px;
  padding-bottom: 10px;
}
.phone {
  color: white;
  font-size: 50pt;
  
}
#profile-pic {
  width: 150px;
  border-radius: 50%;
}
.landing-page-text{
  text-align: center;
  font-size: 40pt;
  
}
.pld {
  padding-left: 15pt;
}

.pbd {
  padding-bottom: 15pt;
}

.pbl {
  padding-bottom: 30pt;
}

.pbs {
  padding-bottom: 5pt;
}

.prd {
  padding-right: 15pt;
}

.ptd {
  padding-top: 15pt;
}

.ptl {
  padding-top: 30pt;
}

.pll {
  padding-left: 30pt;
}
.plxl {
  padding-left: 45pt;
}

.pbxl {
    padding-bottom: 45pt;
}
.ptxl {
  padding-top: 45pt;
}
.mts {
  margin-top: 5pt;
}
.mbd {
  margin-bottom: 15pt;
}
.mbs {
  margin-bottom: 5pt;
}
.mtd {
  margin-top: 15pt;
}
.mtl {
  margin-top: 30pt;
}
.mtxl {
  margin-top: 45pt;
}
.mrd {
  margin-right: 15pt;
}
.mls {
  margin-left: 1px;
}

.mbl {
  margin-bottom: 30pt;
}

.body-text {
  font-size: 16.5pt;
}

.title {
  font-size: 38pt;
}

.subtitle {
  font-size: 20pt;
}
.bold {
  font-weight: bold;
}

.menu {
  padding: 15pt;
  color: #AAAFB4;
  font-size: 18pt;
  border: white solid 1pt;
  width: fit-content;
}

#findMore {
  padding: 15pt;
  color: #AAAFB4;
  font-size: 18pt;
}

.expPeriod {
  padding: 15pt;
  color: white;
  font-size: 18pt;
}
.selected {
  color: white;
}

.menuItem:active {
  color: white;
  border: 0px;
}

#name{
  color:#ff6961;
  font-weight: 600;
}

.landing-page {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#contactForm {
  width: 30rem;
  border: 1px solid white;
}

.smallTray {
  width: 20px;
}

.hrClass {
  border-color: white;
}

.whiteText {
  color: white;
}

.right-float {
  float: right;
}

.projectCard {
  background-color: #282c34 !important;
}

.projectCardTitle {
  font-size: 16.5pt;
}

.popOverTitle{
  color: white;
  background-color:#3C4348;
}

.popOverBody {
  background-color: black;
  color: white;
}

.stars {
  color: goldenrod
}
.pop {
  width: 250px;
  background-color: #3C4348;
  
}

.pointer {
  cursor: pointer;
}

.icon {
  padding-right: 5px;
}

.close-btn {
  color: #6C757D;
  background-color: transparent;
  border: 1pt solid white;
  font-size: 30pt;
  cursor:pointer

}

.close-btn:active {     
  color: white;
  font-weight: bold;    
  
}